<ion-header>
  <ion-toolbar>
    <ion-title>ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin" style="position: relative;">
    <div class=" ion-padding containor top">
      <div class="status">
        Your Ticket Booked Sucessfully!
      </div>

      <div class="flex  ion-justify-content-center">
        <img [src]="qr_code_url" class="qr_code_image" />
      </div>

    </div>
    <div class="seperator">
      <div class="left_corner">
      </div>
      <div class="line">
      
      </div>
      <div class="right_corner">
      </div>
    </div>
    <div class=" ion-padding containor bottom">
      <div>
        Creating Writing  Workshop
      </div>

      <div>
        Date
      </div>

    </div>
    

  </div>
</ion-content>