<div [formGroup]="formgroup">
  <ion-label>{{fieldDetails.label}}</ion-label>
  <ion-select *ngIf="!formgroup.controls.hasOwnProperty(fieldDetails._id)" [multiple]="multiselect">
    <ion-select-option *ngFor="let option of fieldDetails.options" [value]="option.value">{{option.label}}
    </ion-select-option>
  </ion-select>
  <ion-select [formControlName]="fieldDetails._id" *ngIf="formgroup.controls.hasOwnProperty(fieldDetails._id)"
    [multiple]="multiselect">
    <ion-select-option *ngFor="let option of fieldDetails.options" [value]="option.value">{{option.label}}
    </ion-select-option>
  </ion-select>
</div>