<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>  {{event_details.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="featured-image" [ngStyle]="{'background-image': 'url(' + event_details.featuredImage.url + ')'}">
  </div>
  <div class="event-details">
    <div class="title">
      <span>
        {{event_details.title}}
      </span>
      <ion-icon name="share-social-outline" class="normal"></ion-icon>
    </div>
    <div class="duration">
      <div class="time">
        <span>
          <ion-icon name="calendar-outline" class="normal"></ion-icon> {{event_details.scheduleStart | date:'E dd LLL'}} -
          {{event_details.scheduleEnd | date:'E dd LLL'}}
        </span>
      </div>
      <div class="time" style="text-transform: lowercase;">
        <span>
          <ion-icon name="time-outline" class="normal"></ion-icon> {{event_details.scheduleStart | date:'h:mm a'}} -
          {{event_details.scheduleEnd | date:'h:mm a'}}
        </span>
      </div>
    </div>
    <div class="location">
     <span>

      <ion-icon name="location-outline" class="normal"></ion-icon>
     </span>
    
      <span>
        {{event_details.location.address}}
      </span>
    
      <span>

        <ion-icon  class="normal map"></ion-icon>
      </span>
      
    </div>
    <div class="location">
      <span>
        <ion-icon  class="  ruppe"></ion-icon>
      </span>
 
      <span>
        {{event_details.price}}
      </span>
    </div>
  </div>
  <div class="interested">
    <span>

      <ion-icon name="people" class="normal" style="color:var(--ion-color-step-500)"></ion-icon>
    </span>
    <span style="flex: 1;" class="text">
    {{event_details.rsvp}} peeple are Interested
    </span>
    <span class="interested_box">
      Interested ?
    </span>

  </div>
  <div class="related-files">
    <div class="heading">
      Related files
    </div>
    <div class="files" *ngFor="let related_files of event_details.readingMaterial">
      <span>
        <ion-icon name="attach-outline"></ion-icon>
      </span>
      <span>

        {{related_files.title}}
      </span>
    </div>
  </div>
  <div class="speakers">
    <div class="heading">
      Speakers
    </div>
    <div class="list">
      <div *ngFor="let speaker of event_details.speakers" class="item">
        <div class="image" [ngStyle]="{'background-image': 'url(' + speaker.featuredImage.url + ')'}"></div>
       <div class="title"> {{speaker.title}}</div>
       <div class="subTitle"> {{speaker.subTitle}}</div>
      
      </div>
    </div>
  
  </div>
  <div class="speakers">
    <div class="heading" style="padding-top: 16px;">
      Hosted By
    </div>
    <div class="list">
      <div *ngFor="let hosted of event_details.hostedBy"  class="item">
        <div class="image" [ngStyle]="{'background-image': 'url(' + hosted.featuredImage.url + ')'}"></div>
        <div class="title"> {{hosted.title}}</div>
        <div> {{hosted.subTitle}}</div>
      </div>
    </div>
  </div>
  <div class="description">
    <div class="heading">
      Description
    </div>
    <div [innerHTML]="event_details.description" class="desc" [ngClass]="isShowMore ? 'more' : 'less'">
    </div>
    <div class="see_more" (click)="toggleText()">
      <span>
        {{isShowMore ? ('SEE LESS'):('SEE MORE')}} 
      </span>
      <span>
        <ion-icon name="chevron-down-outline" [ngClass]="rotateArrow ? 'arrow-rotate-down' : 'arrow-rotate-up'"></ion-icon>
      </span>
    </div>
  
  </div>
  <div class="agenda" (click)="showAgendaModal()">
    <span>
      Agenda
    </span>
    <span>
      <ion-icon name="arrow-forward-outline"  class="red"></ion-icon>
    </span>
  </div>
  <div class="agenda" (click)="showPromoteModal()">
    <span>
      Promoted By
    </span>
    <span>
      <ion-icon name="arrow-forward-outline"  class="red"></ion-icon>
    </span>
  </div>
  <div class="feed">
    <ion-card *ngFor="let feed of event_details.feeds">
      <div class="feature-image" [ngStyle]="{'background-image': 'url(' + feed.featuredImage.url + ')'}">
      </div>
    
        <div class="details">
          <div class="avtar" [ngStyle]="{'background-image': 'url(' + feed.user.avatar.url + ')'}">
          
          </div>
          <div style="padding-left: 12px;">
            <div class="title">
                 {{feed.user.name}}
            </div>
            <div>
             {{ feed.updatedAt | time}}
            </div>
          </div>
        </div>
     
     
    </ion-card>
  </div>
</ion-content>
<ion-footer style="background: white;">
  <ion-button color="iim" expand="block" class="book_btn">Book</ion-button>
</ion-footer>