<form class="ion-margin ion-padding containor" (ngSubmit)="validateForm()" [formGroup]="registerForm">
  <div *ngFor="let field of customFields">
    <div [ngSwitch]="field.type">
      
      <div *ngSwitchCase="'label'" class="ion-margin-bottom">
        <ion-label>
          {{field.label}}
        </ion-label>
      </div>

      <div *ngSwitchCase="'text'" class="ion-margin-bottom">
        <ion-label> {{field.label}}</ion-label>
        <ion-input  type="text" [formControlName]="field.key" [placeholder]="field.placeholder"></ion-input>
      </div>

      <div *ngSwitchCase="'textarea'" class="ion-margin-bottom">
        <ion-label> {{field.label}}</ion-label>
        <ion-textarea  [formControlName]="field.key" [placeholder]="field.placeholder"></ion-textarea>
      </div>
    

      <div *ngSwitchCase="'file'" class="ion-margin-bottom file">
        <div class="flex ion-justify-content-between ion-align-items-center field_box ">
          <span>
            {{field.label}}
          </span>
          <span>
            <ion-icon name="caret-up-outline"></ion-icon>
          </span>
        </div>
        <div class="conditions  ion-text-uppercase">
          <span>{{field.description}}</span>
        </div>
      </div>

      <div *ngSwitchCase="'select'" class="ion-margin-bottom">
        <ion-label>{{field.label}}</ion-label>
        <ion-select [formControlName]="field.key">
          <ion-select-option *ngFor="let option of field.options" [value]="option.value">{{option.label}}
          </ion-select-option>
        </ion-select>
      </div>

      <div *ngSwitchCase="'multiselect'" class="ion-margin-bottom">
        <ion-label>{{field.label}}</ion-label>
        <ion-select  multiple="true" [formControlName]="field.key">
          <ion-select-option *ngFor="let option of field.options" [value]="option.value">{{option.label}}
          </ion-select-option>
        </ion-select>
      </div>

      <div *ngSwitchCase="'download'" class="ion-margin-bottom">
        <ion-button color="iim">{{field.label}}</ion-button>
      </div>

      <div *ngSwitchCase="'link'" class="ion-margin-bottom">
        <div class="link ion-text-center">{{field.label}}</div>
      </div>

      <div *ngSwitchCase="'toggle'" class="ion-margin-bottom flex ion-align-items-center">
        <ion-toggle color="iim"></ion-toggle>
        <ion-label class="bold">{{field.label}}</ion-label>
      </div>

      <div *ngSwitchCase="'radio'" class="ion-margin-bottom">
        <ion-label>{{field.label}}</ion-label>
        <ion-radio-group  [formControlName]="field.key">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col *ngFor="let option of field.options" class="ion-align-items-center">
                <ion-radio [value]="option.value"></ion-radio>
                <ion-label class="bold">{{option.label}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-radio-group>
      </div>

      <div *ngSwitchCase="'ranking'" class="ion-margin-bottom">
        <ion-label> {{field.label}}</ion-label>
        <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
        <ion-item *ngFor="let option of field.options">
          <ion-label>
           {{option.label}}
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
      </div>
    </div>
  </div>
  <div class="footer">
    <ion-button color="iim" expand="block" class="book_btn" type="submit" [disabled]="!registerForm.valid">Submit</ion-button>
  </div>
</form>