<ion-header>
  <ion-toolbar>
   <div class="modal_header ion-justify-content-between">
     <span (click)="close()" class="ion-margin-start icon" >
      <ion-icon name="arrow-back-outline"></ion-icon>
     </span>
     <ion-title class="ion-text-center">
       Agenda
     </ion-title>
   </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ul >
<li *ngFor="let item of agenda">
  <div class="title">
    {{item.title}}
  </div>
  <div class="duration ion-text-lowercase">
    {{item.timingStart | date:'h:mm a'}} -
    {{item.timingEnd | date:'h:mm a'}}
  </div>
</li>
</ul>
</ion-content>
