<ion-header>
  <ion-toolbar>
   <div class="modal_header">
     <span (click)="close()" style="margin-left: 14px;">
      <ion-icon name="arrow-back-outline"></ion-icon>
     </span>
     <span style="flex:1">
       Promoted By
     </span>
   </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<div *ngFor="let item of promote">
  <div class="item">
    
    <div class="image"  [ngStyle]="{'background-image': 'url(' + item.featuredImage.url + ')'}">
   
    
    </div>
    <div class="title">
      {{item.title}}
    </div>
  </div>

</div>
</ion-content>
