.modal_header {
    display: flex;
    .icon{
        font-size:var(--ion-font-size-extra-large)
    }
}

.item{
    display: flex;
    flex-direction: column;
    margin: 12px 0px;
    .image{
        width: 100px;
        height: 100px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 12px;
    }
    .title {
        font-family: "Gilroy-Bold";
    }
}