.modal_header {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 0px;
    .image{
        width: 100px;
        height: 100px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 12px;
    }
    .title {
        font-family: "Gilroy-Bold";
    }
}